<html>
<head>
<meta charset="utf-8" />
<title>Count</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script type="text/javascript">
$(function() {
$( "#datepicker" ).datepicker();
});
$(function(){
$("#datepicker2").datepicker();
});
</script>
</head>
<body>
<h1>Admin#count</h1>
<div style="text-align:center;">
</div>
<%=form_tag  :action => 's_count' do %>
Start: <input type="text" id="datepicker" name="start" <%value=@s_s%> />
End:   <input type="text" id="datepicker2" name="end" <%value=@s_e%> />
<%= submit_tag "query"%>
<%end%>

<table width="100%" border='1'>
<%@user.each do |user|%>
<tr><td align="center" width="20%"><%=user.name%></td>
<%user.checkins.each do |checkin|%>
<%if checkin.checkin_time %>
  <td align="center" width="30%" >has checked</td>
  <td align="center" ><%=checkin.checkin_time.strftime("%Y-%m-%d %H:%M:%S")%></td>
 <%else%>
  <td align="center" width="30%">no check </td>
  <td align="center">----</td>
 <%end%>
<%end%>
</tr>
<%end%>
</table>
<div style="text-align:center;">
<%=will_paginate @user ,:params => params%>
</div>
</body>
</html>
